<!doctype html>
<html ng-app="toDoApp" ng-controller="toDoController">
<head>
    <link rel="stylesheet" href="ToDo.css">
    <title>ToDo List App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="//use.edgefonts.net/vast-shadow:n4:all.js"></script>
    <script src="//use.edgefonts.net/vast-shadow:n4:all;megrim.js"></script>
    <script src="ToDo.js"></script>
</head>
<body>
    <h1>My To-do List</h1><br>
    
    <h2 id="tasks_list">Tasks</h2>
    <table>
        <tr><td>
            <h3>Active ({{ tasks.length }})</h3>
            <span ng-hide="tasks.length">You have no active tasks!</span>
            <div ng-repeat="task in tasks">
                <input type="checkbox" ng-click="transferTo($index, tasks, completed)" /> {{ task }}<br />
            </div>
        </td><td>
            <div ng-show="completed.length">
            <h3>Completed ({{ completed.length }})</h3>
            <div ng-repeat="task in completed">
                <input type="checkbox" ng-click="transferTo($index, completed, tasks)" checked /> 
                <span class="complete">{{ task }}</span><br />
            </div>
        </div>
        </td></tr>
      </table>
    
    <h2 id="input_task">Add a Task</h2>
    <form ng-submit="addTask()">
          <input type="text" class="add-input" placeholder="I need to..." ng-model="newTaskName" />
          <button class="add-btn">Add</button>
    </form>
    
    <h2 id="delete_task">Delete Tasks</h2>
    <p>Delete the Tasks From The Completed List</p>
    <form ng-submit="delete()">
        <button class="delete-btn">Delete</button>
     </form>
</body>
</html>