<section class="container">
	<h2 class="display-3">About</h2>
	<p class="display-6">
		At Swabhav Techlabs, we partner with Colleges, Students and Software development         
		Companies by being The platform to nurture the talent and transform them into Industry Ready Software Professionals . 
		For students we are The mentors for skill building and Career Growth For Software companies we are their Sourcing and Skill Building Partners.
		Our immersive courses guide you through hundreds of lessons and assignments to build real life, production ready projects over three months,
		with full support from experienced instructors. 
		We will build your programming and design skills from the ground up, all the way to the professional level. 
		If you are committed and ready to work hard, we promise a Transformative Design Driven learning experience that will turn you into a confident developer.
	</p>
</section>