<!DOCTYPE html>
<html ng-app="toDoApp" ng-controller="toDoController">
<head>
<meta charset="utf-8">
<title>To-Do List App</title>
<link rel="stylesheet" href="Todo.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="Todo-Min.js"></script>
<style>
    .line{
        color: red;
        text-decoration: line-through;
        font-style: italic;
    }
</style>
</head>
<body>
    <form class="addForm" ng-submit="addTask()">
        <h2>Add Data to Table::</h2>
        <input type="text" class="add-input" placeholder="I Need To..." ng-model="newTaskName" />
        <button class="add-btn">Add</button>
    </form>

    <form class="updateForm">
        <h2>Update Data From Table::</h2>
        <input type='text' class='update-input' ng-model="updateTaskName"/>
        <button class='update-btn' ng-click = "updateTask()">Update</button>
    </form>
    
    <table id="tbUser" ng-init="load()">
        <thead>
            <tr>
                <th>Select</th>
                <th>Task</th>
                <th>Time</th>
                <th>Remove</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody  ng-repeat="task in tasks track by $index">
            <tr>
                <td><input type="checkbox" ng-model="Line" ng-click="checkBoxClick(Line,task.id)"/></td> 
                <td id="{{task.id}}" ng-class="{line : Line}">{{ task.TaskMsg }}</td>
                <td  class="{{task.id}}">{{task.Time}}</td>
                <td><button class="delete-btn" ng-click="delete($index,task.TaskMsg)">Delete</button></td>
                <td><button class="update-btn" ng-click="update($index,task.TaskMsg)">Update</button></td> 
            </tr>
        </tbody>
    </table>
</body> 
</html>
